nelmio_cors:
    defaults:
        origin_regex: true
        allow_origin: ['http://knowshare.ru', 'http://www.knowshare.ru', 'https://knowshare.ru', 'https://www.knowshare.ru']
        allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE']
        allow_headers: ['Content-Type', 'Authorization', 'X-Requested-With']
        expose_headers: ['Link']
        max_age: 3600
        allow_credentials: true  
    paths:
        '^/api/': ~
        '^/': ~
